:root {
  --color-primary-1: #E91E63;
  --color-primary-2: #7B1FA2;
  --color-secondary-1: #536DFE;
  --color-secondary-2: #7C4DFF;
  --color-black-light: #212121;
  --color-primary-light: #9C27B0;
  --color-primary-lighter: #E1BEE7;
  --color-white: #FFFFFF;
  --color-grey-1: #757575;
  --color-grey-2: #BDBDBD;
  --color-black: #000;
  --color-purple-dark: #483C6C;

}


/* font-family: 'Work Sans', sans-serif;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Coming Soon', cursive;
font-family: 'Merienda', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Cedarville Cursive', cursive;
font-family: 'Sacramento', cursive;
font-family: 'Open Sans', sans-serif;
50, 44, 20 */


* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px
}

body {
  overflow-x: hidden;
}

::selection {
  color: var(--color-white);
  background: var(--color-primary-1);
}
::-moz-selection {
  color: var(--color-white);
  background: var(--color-primary-1);
}

a {
  text-decoration: none;
}

.container {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 400;
    color: var(--color-white);
}

.header {
  height: 1080px;
  background-position: top;
  background-size: cover;
  background-image: url("../img/bg-2.png");
  background-repeat: no-repeat;
}



 /* NAVIGATION */


.nav {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  padding: 5rem;
}


/* HEADER CONTENT / TYPOGRAPHY */

.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-1 {
  font-size: 8.5rem;
  font-family: 'Merienda', cursive;
  font-weight: 400;
  color: inherit;
  margin-bottom: 1.8rem;
}

.heading-2 {
  color: var(--color-grey-1);
  font-size: 4.5rem;
  letter-spacing: .5rem;
  text-transform: uppercase;
  font-weight: 700;
}

.heading-3 {
  color: var(--color-black-light);
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin-top: 2rem;
  margin-bottom: .5rem;
}

.heading-3-alt {
  color: var(--color-white);
  font-size: 4.5rem;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin-top: 2rem;
  margin-bottom: 1rem;
}


.card-text {
  font-size: 1.5rem;
  color: var(--color-grey-1);
}

.card-text-alt {
  font-size: 2rem;
  color: var(--color-white);
}

.margin {
  margin-top: 10rem;
  margin-bottom: 5rem;
  text-align: center;
}

.margin-2 {
  margin-bottom: 5rem;
  text-align: center;
}

.slogan {
  font-size: 1.5rem;
  letter-spacing: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 6rem;
  margin-left: .7rem;

}

.logo {
  width: 12rem;
  height: auto;
}

.logo-2 {
  width: 8rem;
  height: auto;
  margin-top: 1rem;
}

/* SECTIONS */
.section-1 {
  margin-top: 15rem;
}

/* BUTTON */

.btn {
  padding: 1.8rem;
  color: inherit;
  text-decoration: none;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: var(--color-primary-1);
  transition: all .3s ease-out;
  position: relative;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  animation: slideUp .5s ease-out .3s forwards;
  opacity: 0;
}

.btn::before {
  background-color: var(--color-primary-1);
  border-radius: inherit;
  content: '';
  filter: blur(10px);
  opacity: .70;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all .3s ease-out;
  top: 0;
  right: 0;
  z-index: -1;
}

.btn > a {
  color: inherit;
  text-decoration: none;
}

.btn:hover {
  background-color: var(--color-white);
  color: var(--color-black-light);
}

.btn:hover::before  {
  display: none;
}

.btn-learn {
  margin-top: 3rem;
  font-size: 1.3rem;
  padding: 1.5rem;
}

.button-div {
  display: flex;
  justify-content: center;
}

.btn-last {
  font-size: 1.3rem;
  padding: 2rem;

}


/* NAVBAR */

.nav-bar > .nav-item {
  position: relative;
  color: var(--color-white);
  text-decoration: none;
  font-size: 2rem;
  transition: all .2s ease-out;

}

.nav-bar > .nav-item:hover {
  color: var(--color-primary-1);

}

.nav-bar > .nav-item:before {
  content: "";
  position: absolute;
  width: 100%;
  height: .2rem;
  bottom: -.7rem;
  left: 0;
  background-color: var(--color-primary-1);
  visibility: hidden;
  border-radius: 1rem;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.2s ease-out;
}

.nav-bar > .nav-item:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}



.row {
  display: flex;
  height: auto;
  justify-content: space-evenly;
  text-align: center;
  flex-wrap: wrap;
}

.row-2 {
  display: flex;
  height: auto;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 15rem;
}

.row-3 {
  display: flex;
  flex-wrap: wrap;
  height: auto;
}

.col-1 {
  height: 40rem;
  width: 40rem;
  padding: 5rem;
  margin-bottom: 5rem;
}

.col-2 {
  width: 50%;
  height: 60rem;
  background-image: url(../img/img-1.png);
  background-size: cover;
  background-position: center;
}

.col-3 {
  width: 50%;
  height: 60rem;
  background-color: var(--color-black-light);
  padding: 10rem;
}

.col-4 {
  height: 40rem;
  width: 40rem;
  padding: 5rem;
  margin-bottom: 10rem;
}

.pad {
  width: 60rem;
}

.svg {
  width: 10rem;
  height: auto;
}







/* VIDEO */
.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}


.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.section-4 {
    position: relative;
    padding: 15rem 0;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .3;
    overflow: hidden;
}

.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.story {
  margin: 0 auto;
  border-radius: 3px;
  font-size: 2rem;
  width: 80rem;
  margin-bottom: 5rem;
  padding: 3rem;

}

.story__shape {
  width: 15rem;
  height: 15rem;
  float: left;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.story__text {
  background-color: rgba(255, 255, 255, .9);
  color: var(--color-black-light);
  padding: 8rem 5rem;
  border-radius: 1rem;
}



/* FOOTER */
.footer {
  width: 100%;
  height: 35vh;
  padding: 10rem 0;
  font-size: 1.4rem;
  background-color: var(--color-black-light);
  text-align: center;
}


.footer__nav-item {
  display: inline;

}

.footer__nav-item a {
  padding: 2rem;
  color: var(--color-grey-1);
  margin-bottom: 1rem;
  transition: color .3s ease-out;
}

.footer__nav-item a:hover {
  color: var(--color-white);
}

.hr {
  display: block;
  height: .1rem;
  border: 0;
  width: 40rem;
  background-color: var(--color-grey-1);
  margin: 0 auto;
  margin-top: 2rem;
  transition: all .3s ease-out;
}

.footer__nav:hover + .hr {
  background-color: var(--color-white);
}

.copyright {
  text-align: center;
  color: var(--color-grey-1);
  margin-top: 1rem;
}

.nav-responsive {
  position: absolute;
  display: none;
}

/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT license
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */






#menuToggle {
  display: block;
  position: absolute;
  top: 5rem;
  right: 5rem;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 4rem;
  height: 3.2rem;
  position: absolute;
  top: -.7rem;
  left: -.5rem;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}


#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: var(--color-white);
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}


#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 50rem;
  margin: -100px 0 0 0;
  padding: 50px;
  padding-top: 125px;
  right: -50px;
  background: var(--color-white);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menu a {
  color: var(--color-black-light);
  transition: color .3s ease-out;
}

#menu a:hover {
  color: var(--color-primary-1);
}

/*
 * And let's fade it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: scale(1.0, 1.0);
  opacity: 1;
}









/* ANIMATION */


@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}



/* RESPONSIVE */



@media only screen and (max-width: 87.5em) {

  html {
    font-size: 55%;
  }

  .row-2 {
    flex-direction: column-reverse;
  }

  .col-2 {
    width: 100%;
  }

  .col-3 {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    height: 45rem;
    padding-top: 7rem;
  }

  .pad {
    margin: 0 auto;
    width: 70%;
  }

  .heading-3-alt {
    margin-top: 0rem;
  }

  .nav {
    width: 100vw;
  }
}


@media only screen and (max-width: 68.75em) {
  .pad {
    margin: 0 auto;
    width: 80%;
  }
}

@media only screen and (max-width: 50em) {
  .pad {
    margin: 0 auto;
    width: 100%;
  }

  html {
    font-size: 50%;
  }

}

@media only screen and (max-width: 37.5em) {
  .col-3 {
    height: 50rem;
  }

  html {
    font-size: 45%;
  }

  .heading-2 {
    font-size: 4rem;
    letter-spacing: 0rem;
    padding: 0 3rem;
  }

  .slogan {
    display: none;
    visibility: hidden;
  }

  .heading-1 {
    margin-bottom: 5rem;
  }

  .btn-play {
    padding: 2.5rem;
    font-size: 1.6rem;
  }

  .nav {
    position: absolute;
    display: none;
  }

  .nav-responsive {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

}

@media only screen and (max-width: 28em) {
  .col-3 {
    height: 70rem;
  }

  .heading-2 {
    font-size: 4rem;
    letter-spacing: 0rem;
    padding: 0 3rem;
  }

  .heading-1 {
    font-size: 6.5rem;
  }

  .btn-play {
    padding: 2rem;
    font-size: 1.3rem;
  }


}
